html {
	font-size: 14px;
	font-family: 'Libre Franklin';
	color: #162625;	
}

/* common elements styling */

/* switch off responsive elements */

.tablet {
	display: none;
}

.handheld {
	display: none;
}

h1 {
	font-size: 3rem;
	font-weight: 600;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	font-size: 1.5rem;
	font-weight: 600;
}

p {
	font-size: 1.15rem;
	font-weight: 300;
	line-height: 1.5;
}

/* header */
header {
	display: flex;
	flex-direction: column;
	height: 11rem;
	padding: 0 1.5rem;
	border-top: 1.5rem solid #505759;
}

header h1 {
	padding: 2rem 1.5rem 0 1.5rem;
}

header h2 {
	font-size: 1.5rem;
	padding: 0.8rem 1.5rem 0 1.5rem; 
}

#nav-container {
	display: flex;
}

nav {
	padding: 0 1.5rem;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* content containers */

.container {
width: 980px;
margin: 0 auto;
justify-content: space-between;
}


  .main-content {
 	background-color: #EAE5E5;
 }

#main-content-container {
	display: flex;
}

 .left-container {
 	width: 35%;
 	 padding: 2rem 1.5rem;
 }

.right-container {
	width: calc(65% - 6rem);
	display: flex;
	flex-direction: column;		
	padding: 2rem 1.5rem;
}

/* head-shot */

#pic-container {
	padding-top: 4rem;
	max-width: 228px;
}

#pic-container img {
	width: 100%;
	height: auto;
	display: block;
}

/* text */

#main-bottom p {
padding-bottom: 1rem;

}

#main-bottom p {
	width: 100%;
}

/* footer */

footer {
	background-color: #62929E;
	height: 65px;
	display: flex;
	flex-direction: column;
}

footer .container {
	display: flex;
flex-direction: column;
}

.footer-top {
	display: flex;
	justify-content: space-around;
	height: 70%;
}

.footer-section {
	display: flex;
}

#footer-left .img-wrapper {
	padding-right: 0.4rem;
	height: 51px;
	width: 24px;
	position: relative;
}

#footer-middle .img-wrapper {
	padding-right: 0.4rem;
	height: 51px;
	width: 24px;
	position: relative;
}

#footer-left img {
	 max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

#footer-middle img {
 max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.footer-item {
	padding-left: 2rem;
	display: flex;
	flex-direction: column;
}

.footer-item span {
	line-height: 51px;
}

.footer-bottom {
	display: flex;
justify-content: space-between;

}

#copyright {
	font-size: 0.8rem;
}

/* responsive styles */

/* browser resizing */

@media only screen and (max-width: 980px) {
	.container {
		width: 100%;
	}

}

/* tablet */

@media only screen and (max-width: 768px) {
	.tablet {
		display: initial;
	}

	#pic-container {
		padding-top: 0;
		padding-bottom: 4rem;
	}



	.footer-section {
		display: none;
	}

	footer {
		height: 100%;
	}

}

/* handheld */

@media only screen and (max-width: 542px) {
	.handheld {
		display: initial;
	}

	header h1 {
		text-align: center;
	}

	header h2 {
		display: none;
	}


	header .left-container {
		display: none;
	}


	.tablet h3 {
		padding-bottom: 1rem;
	}

	.left-container {
		width: calc(100% - 2rem);
		padding: 1rem;
	}

	.right-container {
		padding: 1rem;
		width: calc(100% - 2rem);
	}

	#main-content-container {
		flex-direction: column;
	}

	#main-content-container .left-container {
		display: inline-flex;
		justify-content: space-between;
	}

	#pic-container {
		padding-right: 2rem;
	}

}
